<div class="main">
  <ion-header class="ion-no-border ion-hide-md-down main-header">
    <ion-title class="main-title">Daily Pulse</ion-title>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <!-- <form (ngSubmit)="onSubmit()" [formGroup]="ionicForm" novalidate> -->
        <div *ngFor="let field of questions" class="form-group">
          <ion-text>{{field.question_id.question_text}}</ion-text>
          <!-- [formC]="ionicForm.controls?.['email']" -->
          <app-form-field-creater
            [formData]="field.question_id"
            [fieldType]="field.question_id.question_type"
            (ganaricChange)="handleChange($event)"
          ></app-form-field-creater>
        </div>

        <div class="form-group">
          <div class="submit-wrapper">
            <ion-button
              (click)="onSubmit()"
              shape="round"
              slot="end"
              type="submit"
            >
              Submit
            </ion-button>
            <!-- <app-submit-button>Submit</app-submit-button> -->
          </div>
        </div>
        <span class="dummy-text"
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span
        >

        <!-- </form> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
